

div {
    padding: 100px 50px;
    min-height: calc(100vh - 200px);
    height: auto;
    width: calc(100% - 100px);
    background-image: url('../../assets/img/photos/landscape1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: var(--light-color);
}

hr {
    margin: 10px 34%;
    width: 32%;
}

img {
    height: 70%;
    width: auto;
    margin: 5px;
}

section>section {
    background-color: var(--light-color);
    color: var(--dark-color);
    font-size: 20px;
    padding: 20px;
    min-width: 200px;
    width: 18%;
    height: 200px;
    margin-top: 50px;
    border-radius: 10px;
}