section>img {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: var(--dark-color) solid 2px;
    width: 120px;
}


li>section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0;
}

section>img{
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: var(--dark-color) solid 2px;
    width: 120px;
}

