<div>
  <section id="quisommesnous">
    <h1>Qui sommes-nous ?</h1>
    <hr />
  </section>

  <section id="badges">
    <h2>Deux amis, deux partenaires.</h2>
    <section>
      <img
        src="../../assets/img/badges/badge_julien_cadieux.png"
        alt="Julien Cadieux"
      />
      <img
        src="../../assets/img/badges/badge_alain_busque.png"
        alt="Alain Busque"
      />
    </section>
  </section>

  <section>
    <h2>NOTRE HISTOIRE</h2>
    <img src="../../assets/img/frise-histoire.png" alt="frise" />
  </section>

  <app-engagements></app-engagements>

  <app-ambitions></app-ambitions>
</div>
