


li>section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}

section>img{
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: var(--dark-color) solid 2px;
    width: 120px;
}

