<section id="slogan">
    <h1>Pour des paiements sans pépins
        <br>
        <hr>
    </h1>
</section>

<section class="grid-display">
    <section>
        <h1>Une application sans frontières</h1>
        <hr>
        <p>Simple d'utilisation et dynamique, notre application vous permet de payer partout, sans frais et sans délai !</p>
    </section>
    <img src="../../assets/img/telephone_legumz.png" alt="Application Legumz">
</section>  
<section>
    <app-valeurs></app-valeurs>
</section>
<section>
    <app-avis></app-avis>
</section>