<header>

    <a [routerLink]="['/']"><img src="../assets/img/logo/banner_final.png" alt="Legumz banner" /></a>
    <nav>
        <ul>
            <li>
                <a id="inpage" href="#">Accueil</a>
            </li>
            <li>
                <a href="./pages/nos-produits.html">Nos offres</a>
                <ul>
                    <li>
                        <a href="./pages/nos-produits.html">Nos produits</a>
                    </li>
                    <li class="last-item">
                        <a href="./pages/nos-services.html">Nos services</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="./pages/nos-partenaires.html">Nos partenaires</a>
            </li>
            <li>
                <a href="./pages/a-propos.html">Notre entreprise</a>
                <ul>
                    <li>
                        <a href="./pages/a-propos.html">À propos</a>
                    </li>
                    <li class="last-item">
                        <a href="./pages/nous-contacter.html">Nous contacter</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>