<header>

    <a [routerLink]="['/']"><img src="../assets/img/logo/banner_final.png" alt="Legumz banner" /></a>
    <nav>
        <ul>
            <li>
                <a [routerLink]="['/']">Accueil</a>
            </li>
            <li>
                <a [routerLink]="['produits']">Nos offres</a>
                <ul>
                    <li>
                        <a [routerLink]="['produits']">Nos produits</a>
                    </li>
                    <li class="last-item">
                        <a [routerLink]="['services']">Nos services</a>
                    </li>
                </ul>
            </li>
            <li>
                <a [routerLink]="['partenaires']">Nos partenaires</a>
            </li>
            <li>
                <a [routerLink]="['about']">Notre entreprise</a>
                <ul>
                    <li>
                        <a [routerLink]="['about']">À propos</a>
                    </li>
                    <li class="last-item">
                        <a [routerLink]="['contact']">Nous contacter</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>